<%- model_class = Team -%>
<% title t('.title', :default => model_class.model_name.human.pluralize) %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th>Wins</th>
      <th>Losses</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= link_to team.name, team_path(team) %></td>      
        <td><%= link_to team.captain.try(:initial_name), player_path(team.captain) if team.captain_id? %></td>
        <td></td>
        <td></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      team_path(team), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>