<% title "Teams" %>
<%- model_class = Team -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @team.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:number) %>:</strong></dt>
  <dd><%= @team.number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:captain_id) %>:</strong></dt>
  <dd><%= @team.captain_id %></dd>
</dl><br>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              teams_path, :class => 'btn'  %>
</div>
