<% title "Assist" %>

<p>
  <strong>Game:</strong>
  <%= @assist.game_id %>
</p>
<p>
  <strong>Player:</strong>
  <%= @assist.player_id %>
</p>
<p>
  <strong>Team:</strong>
  <%= @assist.team_id %>
</p>
<p>
  <strong>Scored:</strong>
  <%= @assist.scored %>
</p>

<p>
  <%= link_to "View All", assists_path %>
</p>
