<%= form_for @game, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :date, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :time, :class => 'control-label' %>
    <div class="controls">
      <%= f.time_select :time, :class => 'time_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :referee_roster_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :referee_roster_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :home_team_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :home_team_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :home_goalie_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :home_goalie_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :away_team_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :away_team_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :away_goalie_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :away_goalie_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :notes, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :notes, :class => 'text_area' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                games_path, :class => 'btn' %>
  </div>
<% end %>
