<% title "Games" %>

<table>
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Referee Roster</th>
    <th>Home Team</th>
    <th>Home Goalie</th>
    <th>Away Team</th>
    <th>Away Goalie</th>
    <th>Notes</th>
  </tr>
  <% for game in @games %>
    <tr>
      <td><%= game.date %></td>
      <td><%= game.time %></td>
      <td><%= game.referee_roster_id %></td>
      <td><%= game.home_team_id %></td>
      <td><%= game.home_goalie_id %></td>
      <td><%= game.away_team_id %></td>
      <td><%= game.away_goalie_id %></td>
      <td><%= game.notes %></td>
      <td><%= link_to "Show", game %></td>
    </tr>
  <% end %>
</table>

