<%- model_class = Game -%>
<% title t('.title', :default => model_class.model_name.human.pluralize) %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:date) %></th>
      <th><%= model_class.human_attribute_name(:time) %></th>
      <th><%= model_class.human_attribute_name(:home_team_id) %></th>
      <th><%= model_class.human_attribute_name(:home_goalie_id) %></th>
      <th><%= model_class.human_attribute_name(:away_team_id) %></th>
      <th><%= model_class.human_attribute_name(:away_goalie_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.date %></td>
        <td><%= game.time %></td>        
        <td><%= link_to game.home_team.name, team_path(game.home_team) %></td>       
        <td><%= link_to game.home_goalie.name, player_path(game.home_goalie) %></td>
        <td><%= link_to game.away_team.name, team_path(game.away_team) %></td> 
        <td><%= link_to game.away_goalie.name, player_path(game.away_goalie) %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      game_path(game), :class => 'btn btn-mini' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_game_path(game), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      game_path(game),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_game_path,
            :class => 'btn btn-primary' %>
