<%- model_class = Game -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:date) %>:</strong></dt>
  <dd><%= @game.date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:time) %>:</strong></dt>
  <dd><%= @game.time %></dd>
  <dt><strong><%= model_class.human_attribute_name(:home_team_id) %>:</strong></dt>
  <dd><%= @game.home_team.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:home_goalie_id) %>:</strong></dt>
  <dd><%= @game.home_goalie.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:away_team_id) %>:</strong></dt>
  <dd><%= @game.away_team.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:away_goalie_id) %>:</strong></dt>
  <dd><%= @game.away_goalie.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:notes) %>:</strong></dt>
  <dd><%= @game.notes %></dd>
</dl></br>


<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              games_path, :class => 'btn'  %>
</div>
